# Import

In [7]:
import pandas as pd 
import numpy as np 
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from datetime import date
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import RandomizedSearchCV
%matplotlib inline
import pandas as pd 
from tabulate import tabulate
from factor_analyzer import FactorAnalyzer
from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
from factor_analyzer.factor_analyzer import calculate_kmo

In [17]:
train1 = pd.read_csv('train_month_3_with_target.csv')
train2 = pd.read_csv('train_month_2.csv')
train3 = pd.read_csv('train_month_1.csv')
test1 = pd.read_csv('test_month_3.csv')
test2 = pd.read_csv('test_month_2.csv')
test3 = pd.read_csv('test_month_1.csv')

In [18]:
df_list=[train1,train2,train3,test1,test2,test3]

In [19]:
def drop_col(x):
    x.drop(['customer_relationship','customer_occupation_code','customer_education',],axis=1, inplace=True) 
for x in df_list:
    drop_col(x)

Before doing anything else here. We should make sure that the datasets are equal.

------------------------------------------------

# Clean

In [ ]:
def dddd:
    x.drop(x.loc[(x['customer_since_all'] ==2) & (x['Age'] <21  )].index, inplace=True)

In [ ]:
def striptime(x):
    x['customer_since_all'] = pd.to_datetime(x['customer_since_all'])
    x['customer_since_bank'] = pd.to_datetime(x['customer_since_bank'])
    x['customer_birth_date'] = pd.to_datetime(x['customer_birth_date'])
    x['Birth_year'] = x['customer_birth_date'].dt.strftime('%Y').astype(str).astype(int)
    x['Year_since_all'] = x['customer_since_all'].dt.strftime('%Y').astype(str).astype(int)
    x['Month_since_all'] = x['customer_since_all'].dt.strftime('%m').astype(str).astype(int)
    x['Year_since_bank'] = x['customer_since_bank'].dt.strftime('%Y').astype(str).astype(int)
    x['Month_since_bank'] = x['customer_since_bank'].dt.strftime('%m').astype(str).astype(int)
    x.drop(['customer_since_all','customer_since_bank','customer_birth_date'], axis=1, inplace=True)
    
for x in df_list:
    striptime(x)

In [ ]:
def remove_out(x):
    x.drop(x[x['Birth_year'] < 1919].index, inplace = True)
    x.drop(x.loc[x['Birth_year'] > (x['Year_since_all'] | x['Year_since_bank'])].index, inplace=True)
    
for x in df_list:
    remove_out(x)

In [ ]:
def age_extract(x):
    x['Age'] = x['Birth_year'].apply(lambda x: 2018 -x)
    x.drop('Birth_year', axis=1, inplace=True)

age_extract(train1)
age_extract(train2)
age_extract(train3)
age_extract(test1)
age_extract(test2)
age_extract(test3)

In [16]:
train1

,client_id,homebanking_active,has_homebanking,has_insurance_21,has_insurance_23,has_life_insurance_fixed_cap,has_life_insurance_decreasing_cap,has_fire_car_other_insurance,has_personal_loan,has_mortgage_loan,...,visits_distinct_so_areas,customer_since_all,customer_since_bank,customer_gender,customer_birth_date,customer_postal_code,customer_self_employed,customer_children,target,Birth_year
0,910df42ad36243aa4ce16324cd7b15b0,0,0,0,0,0,0,1,0,0,...,1.0,1983-03-01,1994-08-01,1,1943-09-01,3630,0,NaN,0,1943
1,4e19dc3a54323c5bbfc374664b950cd1,1,1,0,0,0,0,0,0,0,...,1.0,2017-01-01,2017-01-01,1,1994-02-01,2460,0,5.0,0,1994
2,f5d08db1b86c0cb0f566bf446cff1fb4,1,1,0,0,0,0,1,0,0,...,1.0,1980-12-01,1980-12-01,2,1936-10-01,2660,0,NaN,0,1936
3,26170ecf63653e215c52f4262c1c4859,0,0,0,0,0,0,1,0,0,...,1.0,1998-08-01,2013-10-01,1,1946-09-01,6600,0,NaN,0,1946
4,c078009957dffb64f20e61b41220a976,0,0,0,0,0,0,0,0,0,...,1.0,2012-11-01,2012-11-01,2,1996-04-01,8550,0,5.0,1,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63692,0a58f2eb841ddac0626dacac6ca69524,1,1,1,0,0,0,0,0,0,...,1.0,1998-06-01,1998-06-01,2,1982-02-01,8000,0,0.0,0,1982
63693,193be2222be99bf04f42193b5cdfb95d,0,0,1,0,0,0,1,0,1,...,1.0,1989-05-01,1989-05-01,2,1965-05-01,2020,0,NaN,0,1965
63694,fa9f074ec8cad610ccaec2270021490e,0,1,0,0,0,1,1,0,1,...,1.0,1991-01-01,1991-01-01,2,1976-11-01,1070,0,NaN,0,1976
63695,5236064e97c655b0ad99ed2155e1139e,0,0,0,0,0,0,0,0,0,...,1.0,2014-04-01,2014-04-01,1,1951-03-01,2560,0,0.0,0,1951
63696,977dda870c3f54df46297df3869b2907,1,1,0,0,0,0,0,0,0,...,1.0,2002-02-01,2002-02-01,1,1995-03-01,9100,0,0.0,0,1995

New approach begins here

336 values are marked "yes" hence we will remove them.\
replace categorical values with integers (grown up and mature are consideres same)

In [14]:
def replace_children(x):
     x.drop(x.loc[x['customer_children'] =='yes'].index, inplace=True)
     rep = {'no':0,'onebaby':1,'preschool':2, 'young':3,'adolescent':4,'grownup':5,'mature':5}
     x['customer_children']= x['customer_children'].replace(rep) 
replace_children(train1)
replace_children(train2)
replace_children(train3)
replace_children(test1)
replace_children(test2)
replace_children(test3)

In [ ]:
sns.countplot(x='Age',data=train1.loc[train1['customer_children'] ==0],hue='customer_children')

In [ ]:
sns.countplot(x='Age',data=train1.loc[train1['customer_children'] ==1],hue='customer_children')

In [ ]:
sns.countplot(x='Age',data=train1.loc[train1['customer_children'] ==2],hue='customer_children')

In [ ]:
sns.countplot(x='Age',data=train1.loc[train1['customer_children'] ==3],hue='customer_children')

In [ ]:
sns.countplot(x='Age',data=train1.loc[train1['customer_children'] ==4],hue='customer_children')

In [ ]:
sns.countplot(x='Age',data=train1.loc[train1['customer_children'] ==5],hue='customer_children')

We will drop the rows using the following conditions:
- client with pre-school children should be 21+
- client with young children should be 28+
- client with Ado children should be 32+
- client with mature/grown children should be 39+

In [ ]:
def clean_age(x):
    x.drop(x.loc[(x['customer_children'] ==2) & (x['Age'] <21  )].index, inplace=True)
    x.drop(x.loc[(x['customer_children'] ==3) & (x['Age'] <28  )].index, inplace=True)
    x.drop(x.loc[(x['customer_children'] ==4) & (x['Age'] <32  )].index, inplace=True)
    x.drop(x.loc[(x['customer_children'] ==5) & (x['Age'] <39  )].index, inplace=True)
clean_age(train1)
clean_age(train2)
clean_age(train3)
clean_age(test1)
clean_age(test2)
clean_age(test3)