In [28]:
# http://seppe.net/aa/assignment1/

# Importing Packages

In [29]:
import pandas as pd
import numpy as np

# Loading data

In [30]:
train_1 = pd.read_csv("./train_month_1.csv")
train_2 = pd.read_csv("./train_month_2.csv")
train_3 = pd.read_csv("./train_month_3_with_target.csv")
test_1 = pd.read_csv("./test_month_1.csv")
test_2 = pd.read_csv("./test_month_2.csv")
test_3 = pd.read_csv("./test_month_3.csv")

# Data Preprocessing

## Merge Datasets

In [31]:
print(train_1.columns == train_2.columns)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True]

In [32]:
# since train_3 should have target variable, it should have one extra column
train_3.columns

Index(['client_id', 'homebanking_active', 'has_homebanking',
       'has_insurance_21', 'has_insurance_23', 'has_life_insurance_fixed_cap',
       'has_life_insurance_decreasing_cap', 'has_fire_car_other_insurance',
       'has_personal_loan', 'has_mortgage_loan', 'has_current_account',
       'has_pension_saving', 'has_savings_account',
       'has_savings_account_starter', 'has_current_account_starter',
       'bal_insurance_21', 'bal_insurance_23', 'cap_life_insurance_fixed_cap',
       'cap_life_insurance_decreasing_cap', 'prem_fire_car_other_insurance',
       'bal_personal_loan', 'bal_mortgage_loan', 'bal_current_account',
       'bal_pension_saving', 'bal_savings_account',
       'bal_savings_account_starter', 'bal_current_account_starter',
       'visits_distinct_so', 'visits_distinct_so_areas', 'customer_since_all',
       'customer_since_bank', 'customer_gender', 'customer_birth_date',
       'customer_postal_code', 'customer_occupation_code',
       'customer_self_employed', 'customer_education', 'customer_children',
       'customer_relationship', 'target'],
      dtype='object')

In [33]:
print(train_1.columns == train_3.iloc[:,:-1].columns)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True]

In [34]:
train_1['target'] = train_2['target'] = np.nan

In [35]:
# Add month variable for date for each set
train_1['month'] = 1
train_2['month'] = 2
train_3['month'] = 3

In [36]:
# re-organize columns to have month as second column
train_df = pd.concat([train_1,train_2,train_3])
train_df = train_df.loc[:,['client_id','month'] + list(train_df.iloc[:,1:-1].columns)]

In [37]:
train_df.head()

,client_id,month,homebanking_active,has_homebanking,has_insurance_21,has_insurance_23,has_life_insurance_fixed_cap,has_life_insurance_decreasing_cap,has_fire_car_other_insurance,has_personal_loan,...,customer_since_bank,customer_gender,customer_birth_date,customer_postal_code,customer_occupation_code,customer_self_employed,customer_education,customer_children,customer_relationship,target
0,910df42ad36243aa4ce16324cd7b15b0,1,0,0,0,0,0,0,1,0,...,1994-08,1,1943-09,3630,9.0,0,0.0,NaN,NaN,NaN
1,4e19dc3a54323c5bbfc374664b950cd1,1,1,1,0,0,0,0,0,0,...,2017-01,1,1994-02,2460,9.0,0,NaN,mature,couple,NaN
2,f5d08db1b86c0cb0f566bf446cff1fb4,1,1,1,0,0,0,0,1,0,...,1980-12,2,1936-10,2660,9.0,0,NaN,NaN,single,NaN
3,26170ecf63653e215c52f4262c1c4859,1,0,0,0,0,0,0,1,0,...,2013-10,1,1946-09,6600,9.0,0,NaN,NaN,NaN,NaN
4,c078009957dffb64f20e61b41220a976,1,0,0,0,0,0,0,0,0,...,2012-11,2,1996-04,8550,9.0,0,NaN,mature,couple,NaN

## Data Exploration

In [38]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191091 entries, 0 to 63696
Data columns (total 41 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   client_id                          191091 non-null  object
 1   month                              191091 non-null  int64
 2   homebanking_active                 191091 non-null  int64
 3   has_homebanking                    191091 non-null  int64
 4   has_insurance_21                   191091 non-null  int64
 5   has_insurance_23                   191091 non-null  int64
 6   has_life_insurance_fixed_cap       191091 non-null  int64
 7   has_life_insurance_decreasing_cap  191091 non-null  int64
 8   has_fire_car_other_insurance       191091 non-null  int64
 9   has_personal_loan                  191091 non-null  int64
 10  has_mortgage_loan                  191091 non-null  int64
 11  has_current_account                191091 non-null  int64
 12  has_pension_saving                 191091 non-null  int64
 13  has_savings_account                191091 non-null  int64
 14  has_savings_account_starter        191091 non-null  int64
 15  has_current_account_starter        191091 non-null  int64
 16  bal_insurance_21                   191091 non-null  int64
 17  bal_insurance_23                   191091 non-null  int64
 18  cap_life_insurance_fixed_cap       191091 non-null  int64
 19  cap_life_insurance_decreasing_cap  191091 non-null  int64
 20  prem_fire_car_other_insurance      191091 non-null  int64
 21  bal_personal_loan                  191091 non-null  int64
 22  bal_mortgage_loan                  191091 non-null  int64
 23  bal_current_account                191091 non-null  int64
 24  bal_pension_saving                 191091 non-null  int64
 25  bal_savings_account                191091 non-null  int64
 26  bal_savings_account_starter        191091 non-null  int64
 27  bal_current_account_starter        191091 non-null  int64
 28  visits_distinct_so                 191091 non-null  float64
 29  visits_distinct_so_areas           191091 non-null  float64
 30  customer_since_all                 190389 non-null  object
 31  customer_since_bank                190344 non-null  object
 32  customer_gender                    191091 non-null  int64
 33  customer_birth_date                191091 non-null  object
 34  customer_postal_code               191091 non-null  int64
 35  customer_occupation_code           185085 non-null  float64
 36  customer_self_employed             191091 non-null  int64
 37  customer_education                 49716 non-null   float64
 38  customer_children                  121606 non-null  object
 39  customer_relationship              147260 non-null  object
 40  target                             63697 non-null   float64
dtypes: float64(5), int64(30), object(6)
memory usage: 61.2+ MB

In [39]:
# objects (strings), floats, and ints

In [40]:
cat_vars = []
cont_vars = []
columns = list(train_df.drop(columns = ['client_id','month']).columns)
for i in columns:
    if (len(train_df.loc[:,i].unique()) >= 20):
        cont_vars.append(i)
    else:
        cat_vars.append(i)
        
print('Continious variables are:',cont_vars)
print('------------------')
print('Categorical variables are:',cat_vars)
# Here we have our list of categorical and continious variables

Continious variables are: ['bal_insurance_21', 'bal_insurance_23', 'cap_life_insurance_fixed_cap', 'cap_life_insurance_decreasing_cap', 'prem_fire_car_other_insurance', 'bal_personal_loan', 'bal_mortgage_loan', 'bal_current_account', 'bal_pension_saving', 'bal_savings_account', 'bal_savings_account_starter', 'bal_current_account_starter', 'customer_since_all', 'customer_since_bank', 'customer_birth_date', 'customer_postal_code']
------------------
Categorical variables are: ['homebanking_active', 'has_homebanking', 'has_insurance_21', 'has_insurance_23', 'has_life_insurance_fixed_cap', 'has_life_insurance_decreasing_cap', 'has_fire_car_other_insurance', 'has_personal_loan', 'has_mortgage_loan', 'has_current_account', 'has_pension_saving', 'has_savings_account', 'has_savings_account_starter', 'has_current_account_starter', 'visits_distinct_so', 'visits_distinct_so_areas', 'customer_gender', 'customer_occupation_code', 'customer_self_employed', 'customer_education', 'customer_children', 'customer_relationship', 'target']

In [41]:
# To check we will print all unique values
for col in cat_vars:
    print(col,train_df[col].unique())

homebanking_active [0 1]
has_homebanking [0 1]
has_insurance_21 [0 1]
has_insurance_23 [0 1]
has_life_insurance_fixed_cap [0 1]
has_life_insurance_decreasing_cap [0 1]
has_fire_car_other_insurance [1 0]
has_personal_loan [0 1]
has_mortgage_loan [0 1]
has_current_account [1 0]
has_pension_saving [0 1]
has_savings_account [1 0]
has_savings_account_starter [0 1]
has_current_account_starter [0 1]
visits_distinct_so [1. 2. 3. 6. 4. 5. 7.]
visits_distinct_so_areas [1. 2. 3. 5. 4. 6.]
customer_gender [1 2]
customer_occupation_code [ 9. nan  7.  8.  4.  5.  0.  6.  3.  1.  2.]
customer_self_employed [0 1]
customer_education [ 0. nan  2.  1.  4.  3.  5.  6.]
customer_children [nan 'mature' 'no' 'young' 'preschool' 'adolescent' 'grownup' 'onebaby'
 'yes']
customer_relationship [nan 'couple' 'single']
target [nan  0.  1.]

In [42]:
# looks good

In [43]:
for col in cont_vars:
    print(col,len(train_df[col].unique()))

bal_insurance_21 1000
bal_insurance_23 701
cap_life_insurance_fixed_cap 131
cap_life_insurance_decreasing_cap 2067
prem_fire_car_other_insurance 290
bal_personal_loan 2461
bal_mortgage_loan 12301
bal_current_account 1949
bal_pension_saving 1952
bal_savings_account 4981
bal_savings_account_starter 649
bal_current_account_starter 693
customer_since_all 662
customer_since_bank 578
customer_birth_date 1092
customer_postal_code 1034

In [44]:
# also looks good

### Check missing values

In [45]:
missing_values = (train_df.isnull().sum() / train_df.shape[0]*100)
print(missing_values[missing_values > 0])

customer_since_all           0.367364
customer_since_bank          0.390913
customer_occupation_code     3.143005
customer_education          73.983076
customer_children           36.362257
customer_relationship       22.937239
target                      66.666667
dtype: float64

In [46]:
for c in list(missing_values[missing_values >0].index):
    print(c,train_df[c].unique())

customer_since_all ['1983-03' '2017-01' '1980-12' '1998-08' '2012-11' '2004-08' '2012-03'
 '1992-02' '2006-10' '1975-01' '2017-02' '1991-04' '1994-06' '1986-07'
 '2010-01' '1992-12' '1996-10' '2007-02' '1981-01' '2013-02' '1991-11'
 '2017-04' '1982-03' '2005-11' '1980-03' '1992-03' '1994-05' '2016-12'
 '2000-05' '2006-01' '2009-10' '2017-05' '1996-09' '2017-08' '1998-02'
 '1985-05' '2016-03' '1994-04' '2004-12' '1990-09' '2012-05' '1995-11'
 '2001-10' '2001-01' '1991-09' '1987-11' '1991-12' '1993-01' '2011-03'
 '2014-08' '1998-04' '2016-10' '1981-08' '1983-11' '2015-02' '1998-10'
 '1995-04' '1991-01' '2003-12' '1990-05' '1990-07' '2007-11' '1990-12'
 '1993-07' '1993-06' '1999-01' '1997-03' '2015-04' '2016-09' '2012-04'
 '2011-02' '1968-01' '1992-11' '1997-09' '2016-11' '2006-11' '2010-12'
 '1976-09' '1998-09' '2001-08' '1996-08' '2013-01' '1997-04' '2018-01'
 '2002-06' '2007-01' '1994-07' '2014-04' '1978-07' '2000-07' '2008-01'
 '1986-01' '1998-01' '2008-12' '2001-05' '2013-10' '1996-05' '1999-03'
 '1993-10' '1986-06' '1992-05' '1983-06' '1993-09' '2000-12' '1995-03'
 '2008-08' '2011-10' '1990-11' '1996-04' '2011-05' '2015-10' '2014-11'
 '2002-11' '2012-09' '1988-01' '1985-10' '2015-06' '1990-03' '2008-10'
 '2014-01' '1965-12' '2008-06' '2003-05' '1989-11' '2004-03' '2005-12'
 '2001-06' '1987-10' '1979-12' '1979-07' '2014-02' '2008-09' '1967-02'
 '1995-05' '1983-10' '2008-03' '2014-06' '2011-06' '1996-02' '1986-05'
 '1983-04' '1988-09' '1997-02' '1999-11' '2000-03' '2009-02' '2011-08'
 '2016-01' '2009-01' '2017-06' '1992-10' '2001-03' '2010-05' '1994-08'
 '1994-11' '2005-06' '1984-01' '1996-01' '2005-07' '1997-01' '2010-04'
 '1991-07' '2010-03' '1987-03' '1999-04' '2005-09' '2006-12' '1992-01'
 '1977-01' '1997-10' '2002-01' '1993-08' '1989-03' '2004-11' '2002-04'
 '1974-10' '1995-09' '2012-12' '1979-04' '2017-11' '2016-02' '2011-01'
 '2003-01' '1983-01' '2004-06' '2007-06' '1996-12' '2012-02' '2015-12'
 '1991-06' '2007-04' '1999-10' '2004-01' '2008-05' '1999-05' '1987-06'
 '1989-04' '2009-05' '1994-09' '2000-06' '1975-10' '2010-06' '2012-01'
 '1999-06' '2001-09' '1991-03' '1978-02' '2004-05' '2014-03' '1987-01'
 '1995-06' '2001-04' '1995-02' nan '2005-01' '1989-06' '2015-11' '2007-07'
 '2002-02' '2003-08' '1977-08' '2005-04' '2003-04' '1989-02' '2014-12'
 '2015-08' '2006-03' '1997-12' '1967-06' '2013-07' '2017-12' '1985-06'
 '2017-10' '2012-08' '1993-05' '1996-03' '1985-03' '1990-01' '2013-08'
 '1996-11' '2010-11' '2000-01' '1955-01' '1992-08' '2003-10' '2000-04'
 '1993-04' '1991-05' '1998-12' '2000-02' '2003-06' '2011-11' '1995-07'
 '1977-09' '2017-09' '1979-10' '2010-10' '2006-05' '1980-05' '1993-12'
 '2005-03' '2007-10' '2006-09' '2010-09' '2013-09' '2013-03' '2000-08'
 '2013-12' '1997-11' '1991-02' '1991-10' '1987-07' '2002-05' '2008-11'
 '1997-05' '2001-12' '2007-12' '1988-07' '2008-02' '1979-03' '2004-10'
 '2015-09' '2009-07' '2009-08' '1994-10' '1999-07' '1994-12' '2010-07'
 '1995-12' '1990-08' '1995-08' '1984-04' '1994-01' '1992-04' '2001-07'
 '1974-05' '1996-07' '2000-11' '2014-10' '2009-09' '2013-06' '2002-03'
 '1993-02' '1995-10' '1982-11' '2016-06' '1970-01' '1993-11' '2007-09'
 '2000-10' '1999-09' '1987-08' '1999-08' '1968-12' '1976-10' '2017-03'
 '2017-07' '1989-01' '1982-01' '1986-12' '2015-01' '2008-07' '2007-08'
 '1988-03' '2011-09' '2011-12' '2004-07' '2012-07' '1993-03' '1989-10'
 '1995-01' '1999-02' '1992-09' '1988-10' '2009-04' '1984-06' '2016-04'
 '2008-04' '2003-03' '2013-11' '1990-02' '2016-08' '1992-07' '2009-06'
 '2013-04' '1972-12' '1979-09' '1973-08' '1978-01' '1985-02' '1968-10'
 '2002-12' '1991-08' '1984-02' '2004-04' '2014-09' '1980-01' '2005-08'
 '2002-09' '2004-02' '1997-06' '1988-12' '1971-01' '1990-10' '1986-11'
 '2003-07' '1989-07' '2001-02' '2001-11' '2007-03' '1996-06' '2015-03'
 '1977-02' '2013-05' '1981-06' '2009-03' '1983-02' '2005-05' '2012-06'
 '1998-06' '1985-08' '1987-09' '1988-08' '2016-05' '2003-09' '1986-10'
 '1985-12' '1975-03' '1990-04' '1994-03' '2006-08' '1989-12' '2006-02'
 '1977-06' '1992-06' '1972-08' '2003-02' '2002-10' '2002-07' '1971-06'
 '2014-05' '1978-03' '1979-02' '2003-11' '1988-05' '1998-05' '1998-03'
 '1976-07' '1980-10' '1998-07' '2004-09' '2000-09' '1977-05' '1981-04'
 '2011-07' '1975-09' '1982-02' '1989-05' '1997-07' '1979-05' '2005-10'
 '2016-07' '2002-08' '1983-09' '1973-03' '1998-11' '2005-02' '1978-04'
 '1989-08' '1986-03' '1990-06' '1988-02' '1988-04' '1980-06' '1977-10'
 '1981-11' '1967-07' '1984-12' '1969-01' '1988-06' '2009-12' '1987-04'
 '1980-07' '1999-12' '1984-09' '2009-11' '2011-04' '2010-02' '1988-11'
 '2012-10' '1980-11' '1981-07' '1972-07' '1978-05' '1989-09' '1985-07'
 '1987-05' '1972-06' '1980-09' '1971-02' '1983-05' '1971-08' '2007-05'
 '1994-02' '2014-07' '1975-07' '2006-07' '2006-04' '1982-08' '1985-01'
 '1970-02' '2010-08' '1972-01' '1986-09' '2006-06' '1975-11' '1997-08'
 '1977-12' '1984-11' '1982-04' '1978-09' '2015-05' '1975-04' '1984-07'
 '1987-02' '1974-08' '1980-04' '1984-03' '1971-03' '1971-10' '1975-02'
 '2015-07' '1970-07' '1981-03' '1971-07' '1976-03' '1987-12' '1982-05'
 '1976-06' '1981-02' '1969-05' '1981-12' '1985-09' '1984-10' '1971-11'
 '1984-05' '1974-12' '1986-02' '1985-11' '1980-02' '1981-09' '1976-11'
 '1973-05' '1983-08' '1974-02' '1972-02' '1974-03' '1975-12' '1976-01'
 '1979-08' '1979-01' '1983-12' '1979-06' '1982-06' '1985-04' '1974-06'
 '1973-01' '1982-09' '1986-04' '1970-11' '1974-04' '1969-06' '1982-10'
 '1978-08' '1965-05' '1977-04' '1981-10' '1978-06' '1977-07' '1970-08'
 '1966-02' '1978-11' '1984-08' '1979-11' '1982-07' '1970-09' '1986-08'
 '1973-07' '1966-04' '1971-04' '1978-12' '1959-10' '1971-12' '1973-10'
 '1974-01' '1968-09' '1968-04' '1982-12' '1977-11' '1965-10' '1976-12'
 '1976-04' '1970-06' '1970-12' '1978-10' '1973-06' '1981-05' '1969-07'
 '1964-04' '1976-02' '1965-01' '1974-09' '1973-09' '1969-10' '1965-03'
 '1983-07' '2018-10' '1969-08' '1971-05' '1972-09' '1976-08' '1977-03'
 '1965-06' '1963-09' '1972-11' '1967-01' '1965-09' '1968-06' '1967-12'
 '1976-05' '1972-05' '1964-08' '1966-12' '1975-08' '1975-05' '1970-04'
 '1974-11' '1970-05' '1961-09' '1968-11' '1969-04' '1968-07' '1974-07'
 '1973-04' '1958-09' '1967-03' '1973-02' '1968-05' '1968-08' '1966-08'
 '1973-11' '1975-06' '1972-03' '1965-04' '1980-08' '1961-10' '1960-04'
 '1969-09' '1970-10' '1961-08' '1963-05' '1964-05' '1965-08' '1971-09'
 '1965-11' '1972-10' '1958-10' '1973-12' '1969-12' '1972-04' '1967-08'
 '1966-06' '1969-11' '1963-06' '1967-05' '1964-12' '1967-11' '1970-03'
 '1966-05' '1965-02' '1963-03' '1963-10' '1963-08' '1963-02' '1966-11'
 '1967-04' '1969-02' '1968-02' '1961-05' '1968-03' '1964-01' '1962-03'
 '1958-02' '1964-02' '1969-03' '1960-11' '1956-04' '2018-05' '1966-07'
 '1962-11' '1966-09' '1967-09']
customer_since_bank ['1994-08' '2017-01' '1980-12' '2013-10' '2012-11' '2015-08' '2012-03'
 '1992-02' '2006-10' '1996-07' '2017-02' '2004-08' '1994-06' '1986-07'
 '2011-10' '2015-01' '1999-03' '2007-02' '1981-01' '2016-09' '1991-11'
 '2017-04' '2002-02' '2013-09' '2006-02' '2016-10' '1994-05' '2008-04'
 '2016-12' '2000-05' '2006-01' '2009-10' '2017-05' '2017-07' '2017-08'
 '1998-05' '2000-07' '2016-03' '2004-09' '2005-02' '1990-09' '2012-05'
 '1995-11' '2001-10' '2001-01' '1991-09' '1987-11' '1991-12' '1993-01'
 '2011-03' '1998-04' '1981-08' '1983-11' '2015-02' '1998-10' '1995-04'
 '1991-01' '2003-12' '1990-05' '1990-07' '2010-06' '1990-12' '1993-07'
 '1999-01' '1997-03' '2015-04' '2012-04' '2011-05' '1968-01' '2006-09'
 '1992-11' '1997-09' '2016-11' '2006-11' '2010-12' '2006-05' '1998-09'
 '2001-08' '1993-06' '1996-08' '2013-01' '1997-04' '2018-01' '2007-01'
 '1994-07' '2014-04' '1978-07' '2013-03' '1986-01' '1998-01' '2008-12'
 '2010-03' '2001-05' '1996-05' '1975-01' '2010-05' '1986-06' '1992-05'
 '1983-06' '1993-09' '1995-03' '2008-08' '2014-08' '2015-03' '1990-11'
 '2008-06' '2015-10' '1996-04' '2014-11' '2002-11' '2012-09' '1988-01'
 '1985-10' '2015-06' '2008-10' '2014-01' '2003-05' '2004-03' '2005-12'
 '2008-09' '1979-07' '2014-02' '1984-11' '1995-05' '1983-10' '2008-03'
 '2011-06' '1996-02' '1992-12' '1986-05' '1988-09' '2011-01' '1997-02'
 '1999-11' '2000-03' '2009-02' '2011-08' '2016-01' '2009-01' '2017-06'
 '1992-10' '2001-03' '1989-11' '2011-02' '2004-12' '1996-01' '2005-07'
 '2013-11' '1991-07' '1987-03' '1999-05' '2006-12' '1998-08' '1992-01'
 '1997-10' '2002-01' '1993-08' '2010-01' '1989-03' '2002-04' '1998-02'
 '1995-09' '2012-12' '1979-04' '2017-11' '2006-06' '2016-02' '2003-01'
 '2004-06' '2007-06' '1996-12' '2012-02' '1991-06' '2007-04' '1999-10'
 '2004-01' '2008-05' '1987-06' '2009-05' '1994-09' '2012-01' '1999-06'
 '2001-09' '1991-03' '1994-02' '2004-05' '2017-12' '2014-03' '2000-06'
 '1995-06' '1995-02' nan '2005-01' '1989-06' '2015-11' '2006-04' '2003-08'
 '1977-08' '2005-04' '2003-04' '1989-02' '2009-12' '2014-12' '2013-02'
 '1997-12' '2013-07' '1991-04' '1978-02' '1985-06' '2017-10' '2012-08'
 '1993-05' '1996-03' '1990-01' '2013-08' '1996-11' '2010-11' '2000-01'
 '2004-11' '2008-01' '2003-10' '1999-04' '2000-04' '1987-10' '1993-04'
 '1991-05' '1986-10' '2007-07' '1998-12' '2000-02' '2007-11' '2003-06'
 '2011-11' '2010-04' '1995-07' '1977-09' '2017-09' '1979-10' '1993-12'
 '2005-03' '2007-10' '2010-09' '1997-01' '2000-08' '2013-12' '1997-11'
 '1987-07' '2002-05' '1996-10' '2008-11' '1997-05' '2007-12' '1988-07'
 '2008-02' '1987-05' '2015-09' '2009-07' '2009-08' '1999-07' '2015-12'
 '1989-04' '2010-07' '1990-08' '1995-08' '1997-08' '1994-01' '1995-01'
 '2001-07' '1974-05' '1994-12' '2000-11' '2014-10' '2000-12' '2013-06'
 '2016-06' '2006-07' '1993-02' '2014-07' '1970-01' '1993-11' '2007-09'
 '2000-10' '1999-09' '1987-08' '1999-08' '1973-03' '2017-03' '2008-07'
 '2007-08' '1993-03' '2011-09' '2003-09' '2011-12' '2004-07' '2012-07'
 '2011-04' '1989-10' '2014-05' '1992-09' '1992-03' '1988-10' '1992-04'
 '2009-04' '1984-06' '1984-04' '1979-03' '2016-04' '1995-10' '2014-06'
 '2005-09' '1994-04' '2002-03' '1975-10' '1990-02' '2006-03' '2016-08'
 '2009-06' '1999-02' '2013-04' '1972-12' '1973-08' '1978-01' '2002-12'
 '1991-08' '2006-08' '1980-01' '1988-03' '2005-08' '2002-09' '2005-10'
 '1998-03' '2010-10' '1988-12' '1971-01' '1994-10' '1976-10' '2003-07'
 '1989-07' '1980-03' '2003-03' '2012-06' '2001-11' '1996-06' '1977-02'
 '2013-05' '1981-06' '1989-01' '2009-03' '1983-02' '2005-05' '1996-09'
 '2004-04' '2009-11' '2007-03' '2016-05' '2004-02' '2001-12' '1990-04'
 '2001-02' '1994-03' '1989-12' '1997-06' '1977-06' '1992-06' '1991-02'
 '2003-02' '1992-08' '2002-10' '2002-07' '1994-11' '1971-06' '1979-02'
 '2010-02' '2003-11' '1988-05' '1985-12' '1976-07' '1980-10' '1998-07'
 '1984-02' '2000-09' '1981-04' '2011-07' '1982-02' '2010-08' '2009-09'
 '1989-05' '1997-07' '2005-11' '2005-06' '1978-04' '2016-07' '1995-12'
 '1983-09' '1998-11' '1989-08' '1990-06' '1988-02' '1986-08' '1999-12'
 '1988-04' '1980-06' '1977-10' '1984-12' '1969-01' '1998-06' '1990-10'
 '2004-10' '1979-05' '1987-04' '1975-03' '2002-06' '2002-08' '1984-09'
 '1988-11' '1987-01' '2001-06' '2001-04' '1981-07' '1993-10' '2014-09'
 '2012-10' '1978-05' '1989-09' '1985-07' '1972-06' '1980-09' '1986-12'
 '1983-05' '1976-09' '1975-07' '1982-08' '1986-03' '1986-09' '1983-01'
 '1975-11' '1980-05' '1982-04' '1972-07' '1985-02' '1978-09' '2015-05'
 '1987-02' '1974-08' '1980-04' '1984-03' '1988-06' '1975-02' '2015-07'
 '1990-03' '1981-03' '1985-08' '1976-03' '1972-01' '1987-12' '1982-05'
 '1987-09' '1992-07' '1981-02' '1981-12' '1985-01' '1985-09' '1984-10'
 '1984-01' '1984-05' '1986-02' '1988-08' '1980-02' '1980-07' '1981-09'
 '1976-11' '1973-05' '1972-02' '1975-12' '1976-01' '1979-08' '1985-11'
 '1979-01' '1982-11' '1979-06' '1978-03' '1982-01' '1984-07' '1973-01'
 '1982-09' '1986-04' '1982-10' '1985-04' '1978-06' '1974-10' '1977-07'
 '1984-08' '1985-05' '1978-08' '2007-05' '1973-07' '1971-04' '1986-11'
 '1977-01' '1978-12' '1971-12' '1983-07' '1983-08' '1979-11' '1991-10'
 '1983-12' '1982-06' '1980-11' '1976-04' '1985-03' '1983-04' '1979-12'
 '1971-03' '1974-04' '1977-04' '1974-12' '1973-06' '1982-03' '1973-09'
 '1974-09' '1979-09' '1975-09' '1974-02' '2018-10' '1971-07' '1971-10'
 '1976-08' '1977-03' '1978-10' '1981-10' '1972-11' '1975-04' '1976-06'
 '1977-12' '1981-11' '1972-05' '1978-11' '1976-12' '1971-08' '1981-05'
 '1974-01' '1983-03' '1973-10' '1977-11' '1982-07' '1982-12' '1975-08'
 '1974-06' '1976-02' '1980-08' '1975-06' '1973-02' '1972-08' '1971-09'
 '1972-10' '1973-12' '1970-09' '1975-05' '1970-06' '1972-04' '1977-05'
 '1973-11' '1973-04' '1972-03' '1970-07' '1970-12' '1971-02' '1974-11'
 '1974-03' '1972-09' '1974-07' '1970-05' '1976-05' '1971-11' '1970-08'
 '2018-05' '1968-05' '1970-11']

customer_occupation_code [ 9. nan  7.  8.  4.  5.  0.  6.  3.  1.  2.]
customer_education [ 0. nan  2.  1.  4.  3.  5.  6.]
customer_children [nan 'mature' 'no' 'young' 'preschool' 'adolescent' 'grownup' 'onebaby'
 'yes']
customer_relationship [nan 'couple' 'single']
target [nan  0.  1.]

- We know target has 2/3rds missing since only month 3 has target
- Some values relating to customers seem to have a lot of data missing

### Numerical Values

In [ ]:
# Continious numerical values
train_df.loc[:,cont_vars].describe()

In [ ]:
# Categorical numerical values
train_df.loc[:,cat_vars].describe()

## Data Cleaning